---
title: Blog
layout: default
---
<div class="container-fluid px-md-4">
  <div class="row">
    <div class="col-lg-12">
      <div class="card border-0 bg-white">
        <div class="card-body">
          <h1 class="mb-4">{{ site.data.l10n.articles }}</h1>
          {% if site.posts.size > 0 %}
            <div class="list-group">
              {% for post in site.posts %}
                <a href="{{ post.url }}" class="list-group-item list-group-item-action border-0">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ post.title }}</h5>
                  </div>
                </a>
              {% endfor %}
            </div>
          {% else %}
            <p class="text-muted">{{ site.data.l10n.no_articles }}</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
