---
title: Products
layout: default
---

<script>
function imageError(source){
  source.src = '/images/missing.jpg';
  return true;
}
</script>

<div class="col-lg-3 col-md-3 col-sm-3 hidden-xs hidden-sm" id="categories">
	{% assign applications = '' | split: '' %}
	{% assign certifications = '' | split: '' %}
	{% assign surfaces = '' | split: '' %}
  {% for product in site.products %}
		{% assign applications = applications | concat: product.applications | uniq %}
		{% assign certifications = certifications | concat: product.certifications | uniq %}
		{% assign surfaces = surfaces | concat: product.surfaces | uniq %}
  {% endfor %}
  <h4>By Certification</h4>
  <ul>
  {% for certification in certifications %}
    <li class="" id="{{ certification }}"><a href="applications/{{ certification }}">{{ certification }}</a></li>
  {% endfor %}
  </ul>
  <h4>By Applications</h4>
  <ul>
  {% for application in applications %}
    <li class="" id="{{ application }}"><a href="applications/{{ application }}">{{ application }}</a></li>
  {% endfor %}
  </ul>
  <h4>By Surfaces</h4>
  <ul>
  {% for surface in surfaces %}
    <li class="" id="{{ surface }}"><a href="surfaces/{{ surface }}">{{ surface }}</a></li>
  {% endfor %}
  </ul>
</div>
<div class="col-lg-9 col-md-9 col-sm-9" id="products">
  <h1 id="products-heading"></h1>
  {% for product in site.products %}
     {% include product.html %}
   {% endfor %}
</div>



