<div class="row product">
  <img alt="{{ product.name }}" onerror="imageError(this)" src="{{ product.imageSource }}" />
  <div class="details">
    <h2><a href="{{ product.id }}.html">{{ product.name }}</a></h2>
    <p>{{ product.description }}</p>
    {% if product.availableIn %}
      <p>Available in: {{ product.availableIn }}</p>
    {% endif %}
    {% if product.available %}
      <div class="order">
      {% for item in product.available %}
        <ul class="list-group">
          <li class="list-group-item">
            <span class="size">{{ item.size }}</span>
            <span class="price">{{ item.price }}</span>
            <a class="place-order btn btn-primary" href="https://docs.google.com/forms/d/e/1FAIpQLSfpeuPAQ3K4U7P4KogWGTDFGqAFsoFpoUicib0bRe1C_FPY6Q/viewform?usp=pp_url&entry.1000027={{ product.name }} {{ item.size }} @ {{ item.price}}&entry.1863605364=10" target="_order">Order</a>
          </li>
        </ul>
      {% endfor %}
      </div>
    {% endif %}
    {% if product.technicalSpecification %}
      <a href="{{product.technicalSpecification}}" class="btn" target="_download"><ion-icon name="download-outline"></ion-icon> Technical Specification</a>
    {% endif %}
    {% if product.dataSheet %}
    <a href="{{product.dataSheet}}" class="btn" target="_download"><ion-icon name="download-outline"></ion-icon> Material Safety Data Sheet</a>
    {% endif %}
  </div>
</div>

