<div class="row product">
  <img alt="{{ product.name }}" onerror="imageError(this)" src="{{ product.imageSource }}" />
  <div class="details">
    <h2>{{ product.name }}</h2>
    <p>{{ product.description }}</p>
    <p>Available in: {{ product.availableIn }}</p>
    <a class="order_sample btn btn-primary" href="https://docs.google.com/forms/d/e/1FAIpQLSfy5p0dGXu8Uez0NXI3JPrZy8dq_O4Fg0vtXxfB5K1DoDnMMA/viewform?entry.1000027={{ product.name }}" target="_order">Get Free Sample</a>
    {% if product.technicalSpecification %}
      <a href="{{product.technicalSpecification}}" class="btn" target="_download"><ion-icon name="download-outline"></ion-icon> Technical Specification</a>
    {% endif %}
    {% if product.dataSheet %}
    <a href="{{product.dataSheet}}" class="btn" target="_download"><ion-icon name="download-outline"></ion-icon> Material Safety Data Sheet</a>
    {% endif %}
  </div>
</div>

