{% assign products = site.products | sort: 'order' %}
{% if page.emission %}
  {% assign products = products | where_exp: "product", "product.emissions contains page.emission" %}
{% endif %}
{% if page.certification %}
  {% assign products = products | where_exp: "product", "product.certifications contains page.certification" %}
{% endif %}
{% if page.application %}
  {% assign products = products | where_exp: "product", "product.applications contains page.application" %}
{% endif %}
{% if page.surface %}
  {% assign products = products | where_exp: "product", "product.surfaces contains page.surface" %}
{% endif %}
<div class="col-lg-9 col-md-8 py-4" id="products">
  <h1 class="mb-4" id="products-heading"></h1>
  <div class="row g-4">
    {% for product in products %}
      <div class="col-12">
        {% include product.html %}
      </div>
    {% endfor %}
  </div>
</div>


