<div class="col-lg-3 col-md-3 col-sm-3 hidden-xs hidden-sm" id="categories">
	{% assign applications = '' | split: '' %}
	{% assign certifications = '' | split: '' %}
	{% assign emissions = '' | split: '' %}
	{% assign surfaces = '' | split: '' %}
  {% for product in site.products %}
    {% if product.applications %}
		  {% assign applications = applications | concat: product.applications | uniq | sort %}
    {% endif %}
    {% if product.certifications %}
		  {% assign certifications = certifications | concat: product.certifications | uniq | sort %}
    {% endif %}
    {% if product.emissions %}
		  {% assign emissions = emissions | concat: product.emissions | uniq | sort %}
    {% endif %}
    {% if product.surfaces %}
		  {% assign surfaces = surfaces | concat: product.surfaces | uniq | sort %}
    {% endif %}
  {% endfor %}
  {% if site.default_lang != site.active_lang %}
    {% assign prefix = site.active_lang | append: '/' %}
  {% endif %}
  <h4>{{ site.data.categories.by_emissions }}</h4>
  <ul>
  {% for emission in emissions %}
    {% if page.emission == emission %}
      {% assign active = 'active' %}
    {% endif %}
    <li class="{{ active }}" id="{{ emission }}"><a href="/{{prefix}}categories/emissions/{{ emission }}">{{ site.data.categories[emission] }}</a></li>
    {% assign active = '' %}
  {% endfor %}
  </ul>
 
  <h4>{{ site.data.categories.by_certifications }}</h4>
  <ul>
  {% for certification in certifications %}
    {% if page.certification == certification %}
      {% assign active = 'active' %}
    {% endif %}
    <li class="{{ active }}" id="{{ certification }}"><a href="/{{prefix}}categories/certifications/{{ certification }}">{{ site.data.categories[certification]}}</a></li>
    {% assign active = '' %}
  {% endfor %}
  </ul>
  <h4>{{ site.data.categories.by_applications }}</h4>
  <ul>
  {% for application in applications %}
    {% if page.application == application %}
      {% assign active = 'active' %}
    {% endif %}
    <li class="{{ active }}" id="{{ application }}"><a href="/{{prefix}}categories/applications/{{ application }}">{{ site.data.categories[application] }}</a></li>
    {% assign active = '' %}
  {% endfor %}
  </ul>
  <h4>{{ site.data.categories.by_surfaces }}</h4>
  <ul>
  {% for surface in surfaces %}
    {% if page.surface == surface %}
      {% assign active = 'active' %}
    {% endif %}
    <li class="{{ active }}" id="{{ surface }}"><a href="/{{prefix}}categories/surfaces/{{ surface }}">{{ site.data.categories[surface] }}</a></li>
    {% assign active = '' %}
  {% endfor %}
  </ul>
</div>

